.box-grid{
    display: grid;
    grid-template-columns: 30% 80%;
    grid-template-rows: 40% 60%;
    
}

header{
    background-color: #02275F;
    grid-row: 1/2;
    color: #C0D2E7; 
    
    
}

#bild1{
    max-width: 30%; 
    max-height: auto; 
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 20px;
    border: 3px solid #02275F;
    margin-left: 40px;
    margin-top: 10px;
     
} 

#rubrik{
    grid-column: 2/3;    
    text-align: center;
}



 